@import 'tailwindcss';

@source "../node_modules/**/*.tsx";

body, #root{
  min-height: 100vh;
  color: white;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  align-items: center;

}

button{
  cursor: pointer;
}

#root{
  max-width: 90vw;
}

input:-internal-autofill-selected, 
input:autofill{
  background-color: transparent !important;
  color: white !important;
}


li{
  list-style: none;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #3f3f46 #191919;
}

